
<center><h1><a href="{% url 'home' %}">pharmacy Management System</a></h1></center>
<a href="{% url 'create-project' %}">Add Medicine</a>
<a href="{% url 'create-inventory' %}">Add Inventory</a>
<a href="{% url 'create-order' %}">new order</a>
<a href="{% url 'create-medicines' %}">new mediciness</a>
<a href="{% url 'create-report' %}">new reports</a>
<a href="{% url 'create-purchasing' %}">new purchasing</a>
<a href="{% url 'create-customer' %}">new customer</a>
<a href="{% url 'create-pharmacist' %}">new pharmacist</a>
<a href="{% url 'create-sales' %}">new sales</a>
<HR>